html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

h1{
    color:white;

}

h2{
    font-size:28px;
}

p{
    color:#194350;
    font-size:20px;
    font-weight:bold;
    text-align:justify;
    margin:10px;
    text-indent:30px;
}

button{
    height:30px;
    width:80px;
    color:#194350;
    border:solid #194350 3px;
    background:rgba(255,255,255,0.2);
    border-radius:5px;
    font-weight:bold;
    font-size:16px;
    transition: 0.3s;
}

button:hover{
    height:35px;
    width:85px;
    font-size:18px;
    cursor:pointer;
}

.header{
    background: #194350;
    width:100%;
    height:65px;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav{
    background:#194350;
    width:100%;
    height:50px;
    border-bottom: white solid 3px;
    display:flex;
    justify-content: center;
    position:sticky;
    top:0px;
    transition:0.3s;
    z-index:100;
}

.nav ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    color:white;
}

.nav-li{
    margin-left: 30px;
    font-size: 19px;
    transition:0.3s;
}

.nav-li:hover{
    font-size:21px;
    font-weight:bold;
    cursor: pointer;
}

section{
    width:100%;
    height:150px;
    display:flex;
}

/* SECTION EXTEND */

/* SECTION 1 EXTEND*/
.sectionExtend1{
    width:100%;
    height:500px;
    display:flex;
    background:#ffc2b4;
    transition:0.4s;
}

/* SECTION 2 EXTEND*/

.sectionExtend2{
    width:100%;
    height:500px;
    display:flex;
    background:#9dbeb9;
    transition:0.4s;
}

/* SECTION 3 EXTEND*/
.sectionExtend3{
    width:100%;
    height:500px;
    display:flex;
    background:#ff8882;
    transition:0.4s;
}

/* SECTION EXTEND END */

.section-titles{
    height:100px;
    background: #194350;
    border-bottom:white solid 3px;
}

.buttonSection1{
    height:50px;
    background:#ffc2b4;
}

.buttonSection2{
    height:50px;
    background:#9dbeb9;
}

.buttonSection3{
    height:50px;
    background:#ff8882;
}


.divButton{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    background:#ffc2b4;
    transition:0.4s;
}

.section2{
    background:#9dbeb9;
    transition:0.4s;
}

.section3{
    background:#ff8882;
    transition:0.4s;
}

.aside{
    width:20%;
    height:150px; 
    background:#194350 ;
    border-right:white solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align:center;
    transition:0.4s;
}


.asideButton{
    width:20%;
    height:50px; 
    background:#194350 ;
    border-right:white solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align:center;
    transition:0.4s;
}

/* ASIDE EXTEND */
.asideExtend{
    width:20%;
    height:500px; 
    background:#194350 ;
    border-right:white solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align:center;
    transition:0.4s;
}

.div{
    width:40%;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:0.4s;
    display:none;
}

/* DIV EXTEND */

.divExtend{
    width:40%;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition:0.4s;
}


.div-title{
    width:40%;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/* LIMITANTES EXTEND */
.asideLimitantes{
    width:20%;
    height:900px; 
    background:#194350 ;
    border-right:white solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align:center;
    transition:0.4s;
}

.divLimitantes{
    width:40%;
    height:900px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition:0.4s;
}

.sectionLimitantes{
    width:100%;
    height:900px;
    display:flex;
    background:#9dbeb9;
    transition:0.4s;
}

.footer{
    height:100px;
    width:100%;
    background: #194350;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:18px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: white solid 3px;
}

/* RESPONSIVE */

@media (max-width: 1400px) {
    .nav-li{
        font-size:14px;
    }

    .nav-li:hover{
        font-size:16px;
    }

    h2{
        font-size:26px;
    }

    p{
        font-size:18px;
    }

  }

  @media (max-width: 1024px) {
    .nav-li{
        font-size:11px;
    }

    .nav-li:hover{
        font-size:13px;
    }

    h2{
        font-size:24px;
    }

    p{
        font-size:16px;
    }

  }

  @media (max-width: 900px) {
    .header{
        border-bottom:white solid 3px;
    }
    .nav{
        display:none;
    }

    h2{
        font-size:20px;
    }

    p{
        font-size:14px;
    }

  }

  @media (max-width: 700px) {
    .header{
        border-bottom:white solid 3px;
    }

    h1{
        font-size:24px;
    }
    .nav{
        display:none;
    }

    h2{
        font-size:18px;
    }

    p{
        font-size:12px;
    }
    .asideLimitantes{
        height:1000px; 
    }
    
    .divLimitantes{
        height:1000px;
    }
    
    .sectionLimitantes{
        height:1000px;
    }

  }

  @media (max-width: 600px) {
    .header{
        border-bottom:white solid 3px;
    }
    .nav{
        display:none;
    }

    h1{
        font-size:22px;
    }

    h2{
        font-size:16px;
    }

    p{
        font-size:10px;
    }

    .asideLimitantes{
        height:1000px; 
    }
    
    .divLimitantes{
        height:1000px;
    }
    
    .sectionLimitantes{
        height:1000px;
    }

  }

